.flash-message {
  position: fixed !important; 
  top: 4.75rem;
  right: 20px;
  left: auto;
  transform: none;
  z-index: 999999; 
  width: fit-content;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.text-truncate-3 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  height: 3rem;
}


.fs-7 {
  font-size: 0.75em;
}