:root {
    --black: #181818;
    --white: #FAFBFC;
    --yellow: #E1A115;
    --orange: #AE7407;
    --blue: #011A4B;
    --light-blue: #115DBB;
    --success: #11E06E;
    --error: #E84D3C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    color: var(--black);
}

header {
    height: 10vh;
    background-color: var(--yellow);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav {
  display: flex;
  gap: 1rem;
}
header nav a, header nav .logout-btn {
  text-decoration: none;
  font-weight: 600;
  color: var(--blue);
  background-color: transparent;
  font-size: 1em;
}
header nav a:hover {
  border: none;
} 
main {
    padding: 3rem 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--blue);
}
 
.container.center {
    width: 40%;
    height: 100%;
    margin: auto;
}
 
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.field {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.field label {
    font-size: 0.75em;
}
.field input {
    height: 40px;
    padding-left: 0.75rem;
}
.form .actions {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
.form .actions span {
    font-size: 0.75em;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: var(--light-blue);
    transition: 1s;
}
a:hover {
    border-bottom: var(--light-blue) 1px solid;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
}
button:hover {
    background-color: #022875;
    transition: 0.5s;
}

.flash-message {
  position: absolute;
  top: 12vh;
  right: 1rem;
  padding: 1rem 2.5rem 1rem 1rem;
  border-radius: 4px;
  font-size: 1em;
  width: 90%;
  max-width: 500px;
  color: var(--white);
  opacity: 0;
  transform: translateY(-10px);
  animation: slideDown 0.3s ease forwards;
  transition: opacity 0.4s ease;
}

.flash-message.success {
  background-color: var(--success);
}
.flash-message.error {
  background-color: var(--error);
}

.flash-message .close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  border: none;
  background: transparent;
  color: var(--white);
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.flash-message .close-btn:hover {
  transform: scale(1.2);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  opacity: 0 !important;
  transform: translateY(-10px);
}