{{#if success_msg}}
  <div class="flash-message success">
    <span>{{success_msg}}</span>
    <button class="close-btn">&times;</button>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="flash-message error">
    <span>{{error_msg}}</span>
    <button class="close-btn">&times;</button>
  </div>
{{/if}}