<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Ideias</title>
  <link rel="stylesheet" href="/css/styles.css"> </head>
<body>
  <header>
    <h1>Ideias</h1>
    <nav>
    </nav>
  </header>
  <hr>
  <main>
    {{{ body }}}
  </main>
</body>
</html>